<h1>Welcome!</h1>
<p>Please click on a link to get started.</p>

<%= link_to 'Courses', "http://localhost:3000/courses" %><br>
<%= link_to 'Sections', "http://localhost:3000/sections" %><br>
<%= link_to 'Students', "http://localhost:3000/students" %>